{# article template which is included and populated via article var #}
{# TODO: separate war and battle #}
<article>
    <h1><a href="{% if article.is_battle %}{{ url_for(name='battle', id=article.id) }}{% else %}{{ url_for(name='war', war_num=article.war_num) }}{% endif %}"
            class="noa">{{ article.title }}</a></h1>
    <p class="article-info">
        <a href="{{ url_for(name='war', war_num=article.war_num) }}" class="war-tag fc noa">{{ article.war_num }}</a>
        <span class="article-info-text">{{ article.friendly_date }} — <span class="copy-link"
                href="{% if article.is_battle %}{{ url_for(name='battle', id=article.id) }}{% else %}{{ url_for(name='war', war_num=article.war_num) }}{% endif %}"
                onclick="copy_link(this)">Copylink</span></span>
    </p>
    {% if article.body %}
    {{ article.body }}
    {% else %}
    Unfortunately no user-submitted information is currently available for this article, feel free to <a
        href="{% if article.is_battle %}{{ url_for(name='battle', id=article.id) }}{% else %}{{ url_for(name='war', war_num=article.war_num) }}{% endif %}#edit">edit
        this article</a> and add your own journalistic experiences!
    {% endif %}
</article>