{# index/homepage route #}
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/article.css">
{% endblock %}

{% block content %}
<div class="header ns">
    <h1 class="header-title">HoleNews</h1>
    <p class="header-subtitle">The premier <a href="https://store.steampowered.com/app/505460/Foxhole/" target=”_blank”
            class="noa">Foxhole</a> newspaper</p>
</div>
<div class="content">
    <div class="content-left">
        {% if wars or battles %}
        {% for war in wars %}
        <p>War #{war.num} here</p>
        {% endfor %}
        {% for battle in battles %}
        <article>
            <h1><a href="{{ url_for(name='battle', extra=battle.id) }}" class="noa">{{ battle.title }}</a></h1>
            <p class="article-info">
                <a href="{{ url_for(name='war', extra=battle.war_num) }}" class="war-tag fc noa">
                    {{ battle.war_num }}
                </a>
                <span class="article-info-text">{{ battle.friendly_date }} — <span class="copy-link"
                        href="{{ url_for(name='battle', extra=battle.id) }}"
                        onclick="copy_link(this)">Copylink</span></span>
            </p>
            {% if battle.body %}
            {{ battle.body }}
            {% else %}
            Unfortunately no user-submitted information is currently available for this battle, feel free to <a
                href="{{ url_for(name='battle', extra=battle.id) }}#edit">edit
                this battle</a> and add your own journalistic experiences!
            {% endif %}
        </article>
        {% endfor %}
        {% else %}
        <h2>No Articles Found!</h2>
        <p>No articles have been found to display, this means the website is either:</p>
        <ul>
            <li>Currently having a database error</li>
            <li>Being viewed in a debugging state</li>
        </ul>
        <p>Please contact <span class="mono">root@ogriffiths.com</span> if this is not intended!</p>
        {% endif %}
    </div>
    <div class="content-right">
        <p>War statistics here</p>
    </div>
</div>
{% endblock %}