{# battle-specific article, make sure to also include the article.css stylesheet #}
<article>
    <h1><a href="{{ url_for(name='battle', extra=battle.id) }}" class="noa">{{ battle.title }}</a></h1>
    <p class="article-info">
        <a href="{{ url_for(name='war', extra=battle.war_num) }}" class="war-tag fc noa">
            {{ battle.war_num }}
        </a>
        <span class="article-info-text">{{ battle.friendly_date }} — <span class="copy-link"
                href="{{ url_for(name='battle', extra=battle.id) }}" onclick="copy_link(this)">Copylink</span></span>
    </p>
    {% if battle.body %}
    {{ battle.body }}
    {% else %}
    Unfortunately no user-submitted information is currently available for this battle, feel free to <a
        href="{{ url_for(name='battle', extra=battle.id) }}#edit">edit
        this battle</a> and add your own journalistic experiences!
    {% endif %}
</article>