{# war-specific article, make sure to also include the article.css stylesheet #}
<article>
    <h1><a href="{{ url_for(name='war', extra=war.num) }}" class="noa">WAR BREAKS OUT: SPECIAL</a></h1>
    <p class="article-info">
        <a href="{{ url_for(name='war', extra=war.num) }}" class="war-tag fc noa">{{ war.num }}</a>
        <span class="article-info-text">{{ war.friendly_date }} — <span class="copy-link"
                href="{{ url_for(name='war', extra=war.num) }}" onclick="copy_link(this)">Copylink</span></span>
    </p>
    TODO: generic new war description here
</article>